<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IS_Kompressors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOPPC\SQLEXPRESS;initial catalog=DB-Komp;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <IS_Kompressors.Properties.Settings>
      <setting name="Accent" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="AppTheme" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="NewColor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Color" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="FontStyle" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FontWeight" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FontStretch" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FontFamily" serializeAs="String">
        <value>Microsoft NeoGothic</value>
      </setting>
    </IS_Kompressors.Properties.Settings>
  </userSettings>
</configuration>